<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock %}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="d-flex">

    <!-- Sidebar -->

    <div class="bg-success text-white vh-100 p-3" style="width:260px;">

        <h3 class="text-center">
            🗳️ CEMS
        </h3>

        <hr>

        <a href="{{ url_for('main.officer_dashboard') }}"
           class="btn btn-success border w-100 text-start mb-2">

            📊 Dashboard

        </a>

        <a href="{{ url_for('main.manage_elections') }}"
           class="btn btn-success border w-100 text-start mb-2">

            🗳 Elections

        </a>

        <a href="{{ url_for('main.manage_candidates') }}"
           class="btn btn-success border w-100 text-start mb-2">

            👥 Candidates

        </a>

        <a href="{{ url_for('main.officer_reports') }}"
           class="btn btn-success border w-100 text-start mb-2">

            📈 Reports

        </a>

        <hr>

        <a href="{{ url_for('main.profile') }}"
           class="btn btn-outline-light w-100 mb-2">

            👤 Profile

        </a>

        <a href="{{ url_for('main.logout') }}"
           class="btn btn-danger w-100">

            Logout

        </a>

    </div>

    <div class="flex-grow-1 bg-light p-4">

        {% block content %}{% endblock %}

    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>