# ==============================
# Python
# ==============================
__pycache__/
*.py[cod]
*$py.class

# ==============================
# Virtual Environment
# ==============================
.venv/
venv/
env/

# ==============================
# Environment Variables / Secrets
# ==============================
.env
.env.*

# ==============================
# Flask
# ==============================
instance/

# ==============================
# Database
# ==============================
*.db
*.sqlite
*.sqlite3

# ==============================
# IDE
# ==============================
.vscode/
.idea/

# ==============================
# OS
# ==============================
.DS_Store
Thumbs.db

# ==============================
# Logs
# ==============================
*.log