<form method="GET" class="row g-3 mb-4">

    <div class="col-lg-4">

        <input
            type="text"
            name="search"
            class="form-control"
            placeholder="Search department..."
            value="{{ search }}">

    </div>

    <div class="col-lg-3">

        <select
            name="faculty"
            class="form-select">

            <option value="">
                All Faculties
            </option>

            {% for faculty in faculties %}

            <option
                value="{{ faculty.id }}"
                {% if faculty_id == faculty.id|string %}
                selected
                {% endif %}>

                {{ faculty.name }}

            </option>

            {% endfor %}

        </select>

    </div>

    <div class="col-lg-2">

        <select
            name="status"
            class="form-select">

            <option value="">
                All Status
            </option>

            <option value="active"
                {% if status=="active" %}
                selected
                {% endif %}>
                Active
            </option>

            <option value="inactive"
                {% if status=="inactive" %}
                selected
                {% endif %}>
                Inactive
            </option>

        </select>

    </div>

    <div class="col-lg-2">

        <button class="btn btn-primary w-100">

            Search

        </button>

    </div>

    <div class="col-lg-1">

        <a
            href="{{ url_for('main.departments') }}"
            class="btn btn-secondary w-100">

            Reset

        </a>

    </div>

</form>